
/* -----------------------Header Start------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #292e33;
}

header{
    background-color: rgb(15, 15, 17);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .menu_left img{
    padding: 10px 30px;
    height: 80px;
}

.menu .menu_right ul{
    list-style: none;
}

.menu .menu_right ul li{
   display: inline-block;
   margin: 10px 30px;
}

.menu .menu_right ul li a{
  color: aqua;
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  transition: 0.25s ease-in-out;
}

.menu .menu_right ul li a:hover{
    color: white;
    text-decoration: underline ;
} 

/* ----------------------- Header End ------------------- */

/* ----------------------- Home Start ------------------- */

  
 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

 }
.home_text{
    
    color: white;
    font-size: 26px;
    padding-left: 60px;
    padding-right: 20px;
}
  
.home_text h2{
    padding-top: 40px;
    color: white;
    
}

.home_text h2 span{
    color: aqua;
}

.home_text p{
    font-size: 24px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.btn button{
    margin: 20px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid aqua;
    background-color: aqua;
    color: rgb(12, 3, 36);
    transition: 0.5s ease-in-out;
    letter-spacing: 1px;
    
}

.btn button:hover{
    
    background-color: rgb(12, 3, 36);
    color: aqua;
}

button.btn2{
    background-color: rgb(12, 3, 36);
    color: aqua;
}

button.btn2:hover{
    background-color: aqua;
    color: rgb(12, 3, 36);
}

.home_image {
    height: 550px;
    width: 450px;
    padding-top: 100px;
    padding-right: 100px;
   
}

.home_image img{
    width: 100%;
    border: 3px solid aqua;
    border-radius: 10px;
    transition: .25s ease-in-out;
}

.home_image img:hover{
    transform: scale(1.15);
}


/* ----------------------- End End ------------------- */

/* -------------------------- About Start-------------- */



.header_text h2{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-bottom: 50px;
    
}

.container .header_text h2 span{
    color: aqua;
    
}

.header_text h2 span{
    color: aqua;
    
}

.header_text h2 span1{
    text-decoration: underline aqua;
}



.about_image img{
    height: 400px;
    width: 300px;
    border: 5px solid aqua;
    border-radius: 10px;
    transition: .25s ease-in-out;
}

.about_image img:hover{
    transform: scale(1.15);
}


.about_image {
    padding-left: 50px;
}


.about_text{
    padding-left: 40px;
}
.about_text h2{
    font-size: 42px;
    color: aqua;
    padding-bottom: 50px;
    
}

.about_text p{
    font-size: 22px;
    color: white;
    font-weight: 400;
    padding-bottom: 30px;
    text-align: justify;
    padding-right: 50px;
}

/* -------------------------- About End--------------------------- */

/* -------------------------- Service Start ------------------------*/


.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
 }

.card{
    border: 3px solid aqua;
    width: 320px;
    height: 500px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    margin-left: 50px;
    
}

.card:hover{
    transform: scale(1.15);

}

.card img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.card .header-text{
    padding: 10px;
}

.card .header-text h2{
    color: aqua;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.card .header-text p{
    color: white;
    font-size: 16px;
    text-align: justify;
    
}

.card2{
    border: 3px solid aqua;
    width: 320px;
    height: 500px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    
    
}

.card2:hover{
    transform: scale(1.15);
}
.card2 img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.card2 .header-text{
    padding: 10px;
}

.card2 .header-text h2{
    color: aqua;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.card2 .header-text p{
    color: white;
    font-size: 16px;
    text-align: justify;
    
    
}

.card3{
    
    border: 3px solid aqua;
    width: 320px;
    height: 500px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    margin-right: 50px;
    
}

.card3:hover{
    transform: scale(1.15);
}

.card3 img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.card3 .header-text{
    padding: 10px;
}

.card3 .header-text h2{
    color: aqua;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;

}

.card3 .header-text p{
    color: white;
    font-size: 16px;
    text-align: justify;

}


/* -------------------------- Service  End ------------------------------*/

/* -------------------------- Gallary Start -----------*/

.gallary-image img{
    height: 220px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    transition: .25s ease-in-out;
    margin: 0px 50px;
}

.gallary-image img:hover{
    transform: scale(1.15);
    border: 3px solid aqua;
}

.gallary-image p{
    color: aqua;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0px;
}

/* -------------------------- Gallary End -------------*/

/* -------------------------- Contact Start -----------*/

.contact-form{
    width: 50%;
}

.contact-form form input{
    display: block;
    background-color: transparent;
    margin: 20px 50px;
    padding: 20px;
    width: 400px;
    border: none;
    outline: none;
    border-bottom: 3px solid aqua;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.contact-text h3{
    color: aqua;
    font-size: 42px;
}

.contact-text p{
    color: white;
    font-size: 20px;
    margin: 20px 120px;
}

.contact-text i{
    color: orangered;
    margin-right: 10px;
}

.btn3 button{
    margin: 20px;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid aqua;
    background-color: aqua;
    color: rgb(12, 3, 36);
    transition: 0.5s ease-in-out;
    letter-spacing: 1px;
    margin-left: 300px;
    
}

.btn3 button:hover{
    
    background-color: rgb(12, 3, 36);
    color: aqua;
}



/* -------------------------- Contact End -------------*/

/* ----------------------------Footer Start ------------------------*/

.footer{
    height: 80px;
    width: 100%;
    background-color: rgb(9, 9, 75);
}

.footer .container p{
    margin-top: 30px;
    color: white;
    margin-left: 450px;
    font-size: 20px;
}

.footer .container a{
    color: aqua;
}

.footer .container a i{
    font-size: 20px;
    background-color: transparent;  
}

.upper{
    position: fixed;
    right: 20px;
    bottom: 50px;
    
}

/* ----------------------------Fotter End */